<a href="https://colab.research.google.com/github/AlexanderValenzuela/Venture_Funding_with_Deep_Learning/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy.

To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook.

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [46]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense
from keras.models import Sequential, load_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [47]:
# Mount Google Drive in Colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
# Upload credit_card_transactions.csv to Colab
# from google.colab import files

# csv_file = files.upload()

In [49]:
# Read the applicants_data.csv file from Google Drive into a Pandas DataFrame
applicant_data_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [50]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [51]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [52]:
# Create a list of categorical variables
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [53]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [54]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [55]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [57]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# applicant_data_df.drop(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [58]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [59]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [60]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [61]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [62]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [63]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [64]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [65]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [66]:
# Create the Sequential model instance
nn = Sequential()

In [67]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [68]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [69]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [70]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [71]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 1.1101 - accuracy: 0.6744
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8661 - accuracy: 0.7141
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8198 - accuracy: 0.7234
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.9172 - accuracy: 0.7072
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7922 - accuracy: 0.7194
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8013 - accuracy: 0.7263
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8222 - accuracy: 0.7212
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8050 - accuracy: 0.7265
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8037 - accuracy: 0.7168
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8116 - accuracy: 0.7223
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7882 - accuracy: 0.7280
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7802 - accuracy: 0.7254
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7512 - accuracy: 0.7218
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7210 - accuracy: 0.7305
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7251 - accuracy: 0.7272
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7293 - accuracy: 0.7283
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7334 - accuracy: 0.7196
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7234 - accuracy: 0.7326
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7233 - accuracy: 0.7257
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7118 - accuracy: 0.7307
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7077 - accuracy: 0.7292
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7092 - accuracy: 0.7309
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6887 - accuracy: 0.7329
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7081 - accuracy: 0.7278
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7136 - accuracy: 0.7327
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7060 - accuracy: 0.7294
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6594 - accuracy: 0.7312
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6419 - accuracy: 0.7271
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6334 - accuracy: 0.7326
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6189 - accuracy: 0.7332
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6202 - accuracy: 0.7339
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6219 - accuracy: 0.7305
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6006 - accuracy: 0.7340
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6072 - accuracy: 0.7254
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6087 - accuracy: 0.7327
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6008 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5828 - accuracy: 0.7284
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5749 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5703 - accuracy: 0.7358
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7372
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7360
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5858 - accuracy: 0.7349
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5860 - accuracy: 0.7282
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5833 - accuracy: 0.7345
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7345
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5709 - accuracy: 0.7340
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5740 - accuracy: 0.7389
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5720 - accuracy: 0.7380
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7380
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5811 - accuracy: 0.7380
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5976 - accuracy: 0.7325
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5941 - accuracy: 0.7370
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5890 - accuracy: 0.7368
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5992 - accuracy: 0.7355
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6045 - accuracy: 0.7348
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6112 - accuracy: 0.7371
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6027 - accuracy: 0.7369
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6090 - accuracy: 0.7350
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6032 - accuracy: 0.7355
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6053 - accuracy: 0.7368
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6125 - accuracy: 0.7370
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6086 - accuracy: 0.7353
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6242 - accuracy: 0.7355
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6087 - accuracy: 0.7369
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6164 - accuracy: 0.7341
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6125 - accuracy: 0.7340
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6079 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6060 - accuracy: 0.7361
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6280 - accuracy: 0.7308
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6173 - accuracy: 0.7374
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6000 - accuracy: 0.7371
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6217 - accuracy: 0.7332
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6708 - accuracy: 0.6773
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6264 - accuracy: 0.7357
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6162 - accuracy: 0.7365
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6213 - accuracy: 0.7380
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6065 - accuracy: 0.7373
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6153 - accuracy: 0.7382
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5979 - accuracy: 0.7367
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6017 - accuracy: 0.7348
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6021 - accuracy: 0.7381
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6029 - accuracy: 0.7360
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6172 - accuracy: 0.7332
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6042 - accuracy: 0.7364
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6021 - accuracy: 0.7364
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6063 - accuracy: 0.7388
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6092 - accuracy: 0.7376
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6126 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6081 - accuracy: 0.7367
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6087 - accuracy: 0.7343
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6084 - accuracy: 0.7353
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6104 - accuracy: 0.7367
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6096 - accuracy: 0.7378
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6079 - accuracy: 0.7379
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6061 - accuracy: 0.7384
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6022 - accuracy: 0.7384
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6017 - accuracy: 0.7376
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6116 - accuracy: 0.7384
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6052 - accuracy: 0.7383

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [73]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6411 - accuracy: 0.7298 - 324ms/epoch - 1ms/step
Loss: 0.6411337852478027, Accuracy: 0.7297959327697754

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [74]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [75]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [76]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [77]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 80
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

80

In [78]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 40
# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

40

In [79]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 20
# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

20

In [80]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [81]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))



# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1

In [82]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [83]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5705 - accuracy: 0.7187
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7317
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7335
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7356
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7373
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7394
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7389
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7391
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7410
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7401
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7395
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7414
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7412
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7416
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7419
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7420

#### Alternative Model 2

In [84]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [85]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [86]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 95

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

95

In [87]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 48

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

48

In [88]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 24

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A2

24

In [89]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [90]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))


# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2

In [91]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [92]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5717 - accuracy: 0.7233
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7323
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7383
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7385
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7382
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7388
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7401
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7405
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7408
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7405
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7412
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7419
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7413
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7416
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7418
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7414
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7416
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7424
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7419
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7420
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7420
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7426

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [93]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6411 - accuracy: 0.7298 - 216ms/epoch - 806us/step
Loss: 0.6411337852478027, Accuracy: 0.7297959327697754

In [94]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5640 - accuracy: 0.7303 - 336ms/epoch - 1ms/step
Loss: 0.5640259385108948, Accuracy: 0.7302623987197876

In [95]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5606 - accuracy: 0.7305 - 317ms/epoch - 1ms/step
Loss: 0.5605587363243103, Accuracy: 0.7304956316947937

### Step 3: Save each of your alternative models as an HDF5 file.

In [96]:
# Set the file path for the first alternative model
file_path = "alternative_model_1.h5"

# Export your model to a HDF5 file
nn.save(file_path)

In [97]:
# Set the file path for the second alternative model
file_path = "alternative_model_2.h5"

# Export your model to a HDF5 file
nn.save(file_path)